:root{
    --purple-light: #a881e6;
    --purple: #7450ac;
    --purple-dark: #523480;

    --gray-100: #fbf9fe;
    --gray-200: #afabb6;
    --gray-300: #252529;
    --gray-400: #17171a;
    --gray-500: #111112;
    --gray-600: #0c0c0d;

    --success-light: #6edb8f;
    --success: #4caf50;

    --pink: #db5bbf;
    --pink-dark: #251622;

    --orange: #e07b67;
    --orange-dark: #261a17;

    --yellow: #bb9f3a;
    --yellow-dark: #211e12;

    --green: #8cad51;
    --green-dark: #1c2015;

    --blue: #7b94cb;
    --blue-dark: #1a1d23;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body, input, select{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 130%;

    color: var(--gray-100);
}

body{
    background-color: var(--gray-600);
}

input:focus, select:focus{
    outline: none;
    border-color: var(--purple);
    box-shadow: 0 0 0 0.2rem var(--purple-dark)
}

button{
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 130%;
}

.heading1{
    font-size: 1.5rem;
    font-weight: 700;
}

.heading2{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 130%;
}

.tag{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 130%;
}

.container{
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
}

.container-inputs{
    margin-top: -2.75rem;

    height: 4rem;

    display: flex;
    gap: 0.5rem;
}
