.container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.container input{
    width: 20.375rem;
    height: 2.5rem;
    border: 1px solid var(--gray-500);
    border-radius: 8px;

    background-color: var(--gray-400);
}