.container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.container .divinput{
    height: 2.5rem;

    display: flex;
    gap: 0.1875rem;
}

.container .divinput input{
    width: 4.9375rem;
    height: 2.5rem;

    border: 1px solid var(--gray-500);
    border-radius: 8px;

    background-color: var(--gray-400);

    padding-left: 0.75rem;
}

.container .divinput select{
    width: 4.5rem;
    height: 2.5rem;

    border: 1px solid var(--gray-500);
    border-radius: 8px;

    background-color: var(--gray-400);

    padding-left: 0.75rem;
}
